
/*HEAD & FOOTER*/

::-webkit-scrollbar {
	width: 9px;
  }
  
  ::-webkit-scrollbar-track {
	  background: #ffffff;
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: #2b2b30;
	  border-radius: 10px;
    transition: background-color 0.5s;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	  background-color: #404046;
	  border-radius: 10px;
    transition: background-color 0.5s;
  }

  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 78px;
    width: 100%;
  }

ul#menu li {
    display:inline;
}
ul#rodape li{
    display: inline;
}

ul {
  padding: 0px;
  margin: 0px

}



#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  overflow: hidden;
  background-color: #2b2b30a0;
  backdrop-filter: blur(25px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 10px #00000050;
  position: fixed;
  width: 100%;
  z-index: 1;
}



nav li {
    float: left;
    list-style-type: none;
  }

  nav li:last-child {
    border-right: none;
    display: flex;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none;
    border-radius: 10px;
    transition: margin 300ms, background-color 300ms;
  }
  
  nav li a:hover:not(.active) {
    background-color: #2b2b3050;
    border-radius: 10px;
    margin-top: -5px;
    transition: margin 300ms, background-color 300ms;
  }
  
  .active {
    background-color: #ffae00;
  }

  .logo {
    width: 150px;
    height: 40px;
  }
  
  .txtLogo {
    margin-left: 10px;
  }

  footer {
    background-color: #2b2b30;
    color: white;
    padding: 8px;
    justify-content: center;
    font-weight: 800;
    font-size: larger;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    bottom: 0px;
  }

  footer a {
    text-decoration: none;
    color: white;
  }

  #rodape {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .show-menu {
    cursor: pointer;
  }
  
  input.checkbox-menu[type="checkbox"] {
    display: none;
    appearance: none;
  }
  
  input.checkbox-menu[type="checkbox"]:checked ~ div.menu-block {
    opacity: 1;
    visibility: visible;
  }
  
  .nav-icon {
    display: inline-block;
    font-size: 1.5em;
    padding: 0.5em;
    vertical-align: middle;
  }
  
  .menu-block {
    display: inline-block;
    opacity: 0;
    vertical-align: middle;
    visibility: hidden;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
  }
  
  ul.navUL {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul.navUL li {
    display: inline-block;
    padding: 0px 5px;
  }
  
  ul.navUL li a {
    color: #999999;
    display: block;
    padding: 3px;
    text-decoration: none;
  }
  
  ul.navUL li a:hover {
    color: #000000;
    text-decoration: none;
  }

/*MAIN GERAL*/

main {
    text-align: center;
}
/*FALE CONOSCO*/

.cadVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.sacMain {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.sacCad {
  background-color: #2b2b30a0;
  backdrop-filter: blur(30px);
  box-shadow: 0 5px 10px #00000090;
  border-bottom: 0px solid #2b2b30;
  color: white;
  margin: 0 auto;
  border-radius: 0px;
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 0px;
  width: 625px;
  height: 400px;
  outline: 2px #2b2b30 solid;
  transform: translateY(-0px);
  transition: box-shadow 300ms, transform 300ms, outline 300ms, border-bottom 300ms;
}

.sacCad:hover {
  box-shadow: 0 30px 30px #00000060;
  outline: 4px #402F1D solid;
  border-bottom: 6px solid #402F1D;
  transform: translateY(-10px);
  transition: box-shadow 300ms, transform 300ms, outline 300ms, border-bottom 300ms;
}

.sacCad abbr {
  font-style: italic;
  color: #ffffff;
  font-size: 23px;
  text-decoration: none;
  margin-left: 5px;
  cursor: default;
}

.cadLabel1 .cadLabel2 {
  font-weight: 300;
}

.sacCad input {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: 2px solid #2b2b30;
  outline: 1px #2b2b30 solid;
  background-color: #ffffff85;
	border-radius: 10px 10px 10px 10px;
  margin: 3px;
  margin-top: 5px;
	padding: .4em;
	color: #000000;
  font-weight: 600;
  text-align: center;
  transform: translateY(-0px);
  transition: box-shadow 300ms, transform 300ms, outline 300ms, border-bottom 300ms, background-color 300ms;
}

.sacCad input:focus {
  border-bottom: 7px solid #402F1D;
  background-color: #ffffff;
  outline: 2px #402F1D solid;
  transform: translateY(-2px);
  transition: box-shadow 300ms, transform 300ms, outline 300ms, border-bottom 300ms, background-color 300ms;
}

.sacCad tr {
  margin: 10px;
}

.butCadCont {
    margin-top: 12px;
}

.butCad {
  border-bottom: 2px solid #2b2b30 !important;
  background-color: #ffffff85;
  border-radius: 10px;
  outline: solid 1px #2b2b30;
  border: 0px;
  padding: 5px 15px;
  margin: 0px 5px;
  transform: translateY(-0px);
  transition: box-shadow 300ms, transform 300ms, outline 300ms, border-bottom 300ms, background-color 300ms;
}

.butCad:hover {
  border-bottom: 5px solid #402F1D !important;
  border: 0px;
  background-color: #ffffff;
  outline: 2px #402F1D solid;
  transform: translateY(-5px);
  transition: box-shadow 300ms, transform 300ms, outline 300ms, border-bottom 300ms, background-color 300ms;
  cursor: pointer;
}

.butCadCont li {
    display: inline;
}


/*LOJA*/
.bebidaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 2em;
    padding: 2em;
}

.bebidaBox {
    background-color: rgb(240, 240, 240);
    width: 200px;
    height: 330px;
    box-shadow: 0 0 10px #0000008e;
    transition: box-shadow 300ms, border-radius 300ms, background-color 300ms;
    user-select: none;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

.bebidaBox:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #000000;
    transition: box-shadow 300ms, border-radius 300ms, background-color 300ms;
    border-radius: 5px;
}

.bebidaImg {
    margin: 0 auto;
    text-align: center;
    max-width: 150px;
}

.bebidaTit {
    margin-top: 10px;
    font-weight: 600;
    font-size: larger;
    text-align: center;
}

.bebidaVal {
    margin-top: 20px;
    font-size: medium;
    text-align: center;
    margin: 0 auto;
}

/*CADASTRO*/
.cadastroContainer{
  background-color: #2b2b30a0;
  backdrop-filter: blur(30px);
  box-shadow: 0 5px 10px #00000090;
  border-bottom: 0px solid #2b2b30;
  color: white;
  margin: 0 auto;
  border-radius: 0px;
  padding: 5px;
  border-radius: 25px;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 0px;
  width: 575px;
  height: 550px;
  outline: 2px #2b2b30 solid;
  transform: translateY(-0px);
  transition: box-shadow 300ms, transform 300ms, outline 300ms, border-bottom 300ms;
}
.butcad{
  list-style-type: none;
  justify-content: center;
  display: flex;
  gap: 8px;

}
.cadastroContainer input {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: 2px solid #2b2b30;
  outline: 1px #2b2b30 solid;
  background-color: #ffffff85;
	border-radius: 10px 10px 10px 10px;
  margin: 3px;
  margin-top: 5px;
	padding: .4em;
	color: #000000;
  font-weight: 600;
  text-align: center;
  transform: translateY(-0px);
  transition: box-shadow 300ms, transform 300ms, outline 300ms, border-bottom 300ms, background-color 300ms;
}

.cadastroContainer:hover {
  box-shadow: 0 30px 30px #00000060;
  outline: 4px #402F1D solid;
  border-bottom: 6px solid #402F1D;
  transform: translateY(-10px);
  transition: box-shadow 300ms, transform 300ms, outline 300ms, border-bottom 300ms;
}

.cadastroContainer abbr {
  font-style: italic;
  color: #ffffff;
  font-size: 23px;
  text-decoration: none;
  margin-left: 5px;
  cursor: default;
}

.cadastroContainer input:focus {
  border-bottom: 7px solid #402F1D;
  background-color: #ffffff;
  outline: 2px #402F1D solid;
  transform: translateY(-2px);
  transition: box-shadow 300ms, transform 300ms, outline 300ms, border-bottom 300ms, background-color 300ms;
}

.cadastroContainer tr {
  margin: 10px;
  text-align: right;
}

.cadCepTdResp {
  margin: 10px;
  text-align: left;
}

/*---------------RESPONSIVIDADE CADASTRO-------------------*/

@media screen and (max-width: 642px) {
  .cadastroContainer{
    background-color: #2b2b30a0;
    backdrop-filter: blur(30px);
    box-shadow: 0 5px 10px #00000090;
    border-bottom: 0px solid #2b2b30;
    color: white;
    margin: 0 auto;
    border-radius: 0px;
    padding: 5px;
    border-radius: 25px;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0px;
    width: 360px;
    height: 560px;
    outline: 2px #2b2b30 solid;
    transform: translateY(-0px);
    transition: box-shadow 300ms, transform 300ms, outline 300ms, border-bottom 300ms;
  }
  .cadInputResp {
    width: 85%;
  }
  .cadastroContainer tr {
    margin: 10px;
    text-align: right;
  }
  
  .cadCepTdResp {
    margin: 10px;
    padding: 0px 16px;
    text-align: left;
  }
}



